<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>

<!-- ng-init 指令初始化 AngularJS 应用程序变量。 -->
<!-- <div ng-app="" ng-init="firstname='wanghao'">
	<input  type = "text" ng-model="firstname"/>
	<p>姓名为 <span ng-bind="firstname"></span></p>
</div> -->
<!-- 
<div ng-app="">
	<input type = "text" ng-model = "firstname"/>
	<p>{{firstname}}</p>
</div> -->

<!-- <div data-ng-app = "" data-ng-init="firstname='name'">
	<input type = "text" data-ng-model="firstname"/>
	<p>{{firstname}}</p>
	<p><span data-ng-bind="firstname"></span></p>
</div> -->

<!-- 我的第一个表达式 -->
<div ng-app="">
	<p>{{5+5}}</p>
</div>

</body>
</html>